---
- name: Role validation
  import_tasks: validate.yml

- name: Check Docker is installed
  ignore_errors: yes
  changed_when: existed_docker.rc >= 2
  register: existed_docker
  command: which docker
- name: debug 'existed_docker' register 1
  debug:
    msg: "{{ (existed_docker.rc == 0) | ternary('Đã cài docker', 'Chưa cài docker') }}"
    verbosity: 1

- include_tasks: uninstall.yml
  when: existed_docker.rc == 0 and docker_reinstall | bool
  # when: docker_swarm_status.stdout.find("inactive") == -1 and docker_reinstall | bool
  ignore_errors: yes

- name: Install Docker && setup docker swarm
  when: existed_docker.rc != 0 or docker_reinstall | bool
  block:
  - name: Install Docker
    script: install-docker.sh
  - name: Start service docker, if not started
    service:
      name: docker
      state: started
  - import_tasks: init-docker-swarm.yml
  - import_tasks: join-managers-to-swarm.yml
  - import_tasks: join-workers-to-swarm.yml
# - import_tasks: test.yml