---
- name: Prepare for uninstall docker
  block:
  - name: Check node is in swarm mode
    ignore_errors: yes
    # failed_when: rc >= 2
    register: docker_swarm_status
    command: "{% raw -%} docker info --format '{{ json .Swarm.LocalNodeState }}' {%- endraw %}"
  - name: debug `docker_swarm_status` register
    debug:
      msg: "{{ (docker_swarm_status.stdout.find('inactive') == 1) | ternary('Node not in swarm mode', 'Node in swarm mode') }}"
      verbosity: 1
  ## force leave swarm mode if status is active or pending
  - name: Leave swarm mode if actived
    when: docker_swarm_status.stdout.find("inactive") == -1
    command: docker swarm leave -f

- name: Uninstall Docker packages
  apt: 
    name: "{{ item }}"
    state: absent
    force: yes
    purge: yes
  loop:
    - docker-ce 
    - docker-ce-cli 
    - containerd.io